{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div id="__next">
        <div>
            <table id="hnmain"
                   style="background-color:#f6f6ef;border:0px;border-collapse:collapse;border-spacing:0px;margin-left:auto;margin-right:auto;padding:0px;width:85%">
                <tbody>
                <!-- Navbar -->
                {% include 'base/header.html' %}

                <!-- End navbar -->
                <tr style="height:10px"></tr>
                <tr>
                    <td style="padding:0px">
                        <table style="border:0px;padding:0px;border-collapse:collapse;border-spacing:0px"
                               class="itemlist">
                            <tbody>

                            <!-- Item -->
                            {% for item in news %}
                                <tr class="athing">
                                    <td style="text-align:right;vertical-align:top" class="title"><span
                                            class="rank">{{ forloop.counter }}.</span>
                                    </td>
                                    <td style="vertical-align:top" class="votelinks">
                                        <div style="text-align:center">
                                            <a class=" " style="cursor:pointer">
                                                <div class="votearrow" title="upvote"></div>
                                            </a>
                                        </div>
                                    </td>
                                    {% if item.get_link %}
                                        <td class="title"><a class="storylink" target="_blank"
                                                             href="{{ item.url }}">{{ item.title }}</a>
                                            <span class="sitebit comhead"> (<a href="from?site=stripe.com"><span
                                                    class="sitestr">{{ item.get_link }}</span></a>)</span>
                                        </td>
                                        </tr>
                                        <tr>
                                            <td colSpan="2"></td>
                                            <td class="subtext">
                                                <span class="score">
                                                    {{ item.points }}<!-- --> points
                                                </span>
                                                by <a class="hnuser"
                                                      href="/user?id=asmertgen">{{ item.author.username }}</a>
                                                <span
                                                        class="age"><a
                                                        href="{{ item.get_absolute_url }}">{{ item.created|timesince }} ago</a></span>
                                                |
                                                <a
                                                        style="cursor:pointer">hide</a> | <a
                                                    href="{{ item.get_absolute_url }}">{{ item.comments.all.count }}
                                                comments</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <td class="title"><a class="storylink" target="_blank"
                                                             href="{% url 'news_detail' item.pk %}">{{ item.title }}</a>
                                        </td>
                                        </tr>
                                        <tr>
                                            <td colSpan="2"></td>
                                            <td class="subtext">
                                                <span class="score">
                                                    {{ item.points }}<!-- --> points
                                                </span>
                                                by <a class="hnuser"
                                                      href="/user?id=asmertgen">{{ item.author.username }}</a>
                                                <span
                                                        class="age"><a
                                                        href="{% url 'news_detail' item.pk %}">{{ item.created|timesince }} ago</a></span>
                                                |
                                                <a
                                                        style="cursor:pointer">hide</a> | <a
                                                    href="{% url 'news_detail' item.pk %}">{{ item.comments.all.count }}
                                                comments</a>
                                            </td>
                                        </tr>
                                    {% endif %}

                            {% endfor %}

                            <!-- end item -->
                            <tr class="morespace" style="height:10px"></tr>
                            <tr>
                                <td colSpan="2"></td>
                                <td class="title"><a href="/?p=2" class="morelink" rel="nofollow">More</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px">
                        <img alt="" src="/static/s.gif" height="10" width="0"/>
                        <table style="height:2px;width:100%;border-spacing:0px">
                            <tbody>
                            <tr>
                                <td style="background-color:#ff6600"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        <div style="text-align:center">
                                    <span class="yclinks">
                                        <a href="/newsguidelines">Guidelines</a> |<!-- --> <a href="/newsfaq">FAQ</a> | <a
                                            href="/cdn-cgi/l/email-protection#6d05032d140e02000f04030c19021f430e0200">Support</a> | <a
                                            href="https://github.com/HackerNews/API">API</a> |<!-- --> <a
                                            href="/security">Security</a> |<!-- --> <a href="/lists">Lists</a> |<!-- --> <a
                                            href="/bookmarklet">Bookmarklet</a> |<!-- --> <a href="/dmca">DMCA</a> | <a
                                            href="https://www.ycombinator.com/apply/">Apply to YC</a> | <a
                                            href="/cdn-cgi/l/email-protection#21494f6158424e4c43484f40554e530f424e4c">Contact</a>
                                    </span>
                            <br/><br/>
                            <form method="get" action="//hn.algolia.com/" style="margin-bottom:1em">Search:<input
                                    type="text" name="q" size="17" autoCorrect="off" spellcheck="false"
                                    autoCapitalize="off"
                                    autoComplete="false"/></form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
