<!DOCTYPE html>
<html>
    <head>
        <meta charSet="utf-8"/>
        <title>Hacker News Clone</title>
        <meta name="referrer" content="origin"/>
        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <link rel="stylesheet" type="text/css" href="/static/news.css"/>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <meta name="next-head-count" content="6"/>
    </head>
    <body>
        <div id="__next">
            <div>
                <table id="hnmain" style="background-color:#f6f6ef;border:0px;border-collapse:collapse;border-spacing:0px;margin-left:auto;margin-right:auto;padding:0px;width:85%">
                    <tbody>
                        <tr>
                            <td style="background-color:#ff6600;padding:0px">
                                <table style="border:0px;padding:2px;border-spacing:0px;width:100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:18px;padding:0px;padding-right:4px"><a href="/"><img src="/static/y18.gif" style="border:1px;border-color:white;border-style:solid;height:18px;width:18px"/></a></td>
                                            <td style="line-height:12px;height:10px;padding:0px"><span class="pagetop"><b class="hnname"><a href="/news">Hacker News</a></b> <a class="" href="/newest">new</a> | <a class="" href="/newcomments">comments</a> | <a class="" href="/show">show</a> | <a class="" href="/ask">ask</a> | <a class="" href="/jobs">jobs</a> | <a class="" href="/submit">submit</a></span></td>
                                            <td style="text-align:right;padding:0px;padding-right:4px"><span class="pagetop"><a href="/login?goto=/item">login</a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:10px"></tr>
                        <tr>
                            <td style="padding:0px">
                                <table style="border:0px;padding:0px;border-collapse:collapse;border-spacing:0px" class="itemlist">
                                    <tbody>
                                        <tr class="athing">
                                            <td style="text-align:right;vertical-align:top" class="title"><span class="rank"></span></td>
                                            <td style="vertical-align:top" class="votelinks">
                                                <div style="text-align:center">
                                                    <a class=" " style="cursor:pointer">
                                                        <div class="votearrow" title="upvote"></div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="title"><a class="storylink" href="item?id=30627418">Launch HN: Micro Meat (YC S21) – Technology for scaling cultivated meat</a></td>
                                        </tr>
                                        <tr>
                                            <td colSpan="2"></td>
                                            <td class="subtext">
                                                <span class="score">
                                                    42<!-- --> points
                                                </span>
                                                by <a class="hnuser" href="/user?id=asmertgen">asmertgen</a> <span class="age"><a href="/item?id=30627418">46 minutes ago</a></span> | <a style="cursor:pointer">hide</a><span> | <a href="https://hn.algolia.com/?query=Sublime%20Text%203.0&amp;sort=byDate&amp;dateRange=all&amp;type=story&amp;storyText=false&amp;prefix&amp;page=0">past</a> | <a href="https://www.google.com/search?q=Sublime%20Text%203.0">web</a></span> | <a href="/item?id=30627418">6 comments</a> | favorite
                                            </td>
                                        </tr>
                                        <tr class="morespace" style="height:10px"></tr>
                                        <tr>
                                            <td colSpan="2"></td>
                                            <td>
                                                <form method="post" action="comment"><input type="hidden" name="parent" value="15237896"/><input type="hidden" name="goto" value="item?id=15237896"/><input type="hidden" name="hmac" value="02641d0660c89c1a83ccf0d171e42497d10d2135"/><textarea name="text" rows="6" cols="60"></textarea><br/><br/><input type="submit" value="add comment"/></form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/><br/>
                                <table class="comment-tree" style="border:0">
                                    <tbody>
                                        <tr class="athing comtr " id="15238246">
                                            <td>
                                                <table style="border:0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="ind"><img alt="" src="/static/s.gif" height="1" width="0"/></td>
                                                            <td style="vertical-align:top" class="votelinks">
                                                                <div style="text-align:center">
                                                                    <a id="up_15238246" href="vote?id=15238246&amp;how=up&amp;auth=4eb97bf0d2568aa743691210b904f0c5182bb0fc&amp;goto=item%3Fid%3D15237896#15238246">
                                                                        <div class="votearrow" title="upvote"></div>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td class="default">
                                                                <div style="margin-top:2px;margin-bottom:-10px"><span class="comhead"><a class="hnuser" href="/user?id=mstade">Thebroser</a><span class="age"> <a href="/item?id=30627816">11 minutes ago</a></span> <span id="unv_15238246"></span><span class="par"></span> <a class="togg" id="24">[-]</a><span class="storyon"></span></span></div>
                                                                <br/>
                                                                <div class="comment">
                                                                    <span class="c00">
                                                                        <span>Hey! Bioengineering background here, how do you all embed the cells within the scaffold? Is your approach similar to other bioprinting approaches (initial cells seeded via extrusion, inkjet, or laser assisted deposition)? At first I would think this could be done with some sort of printable collagen scaffold but I&#x27;m curious for what your approach would be. 
                                                                        In addition, as someone that is involved in therapeutics, I&#x27;m not too well versed in this space but was curious hearing from your perspective: How close would you say we are to being able to use FBS free media to culture meat at scale?</span>
                                                                        <div class="reply">
                                                                            <p style="font-size:1"><u><a href="/reply?id=30627816&amp;goto=item%3Fid%3D30627816">reply</a></u></p>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="athing comtr " id="15238246">
                                            <td>
                                                <table style="border:0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="ind"><img alt="" src="/static/s.gif" height="1" width="0"/></td>
                                                            <td style="vertical-align:top" class="votelinks">
                                                                <div style="text-align:center">
                                                                    <a id="up_15238246" href="vote?id=15238246&amp;how=up&amp;auth=4eb97bf0d2568aa743691210b904f0c5182bb0fc&amp;goto=item%3Fid%3D15237896#15238246">
                                                                        <div class="votearrow" title="upvote"></div>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td class="default">
                                                                <div style="margin-top:2px;margin-bottom:-10px"><span class="comhead"><a class="hnuser" href="/user?id=mstade">coldpie</a><span class="age"> <a href="/item?id=30627730">18 minutes ago</a></span> <span id="unv_15238246"></span><span class="par"></span> <a class="togg" id="24">[-]</a><span class="storyon"></span></span></div>
                                                                <br/>
                                                                <div class="comment">
                                                                    <span class="c00">
                                                                        <span>As a meat fan, and also an Earth fan, this is something I&#x27;ve always wanted to see happen. I&#x27;ve mostly fallen on the Earth side of the fence, which means I&#x27;ve been vegetarian-ish for years. I would love to be able to eat what I want without the climate guilt. Glad to see this tech is getting closer towards market, and I hope your business is successful.</span>
                                                                        <div class="reply">
                                                                            <p style="font-size:1"><u><a href="/reply?id=30627730&amp;goto=item%3Fid%3D30627730">reply</a></u></p>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="athing comtr " id="15238246">
                                            <td>
                                                <table style="border:0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="ind"><img alt="" src="/static/s.gif" height="1" width="40"/></td>
                                                            <td style="vertical-align:top" class="votelinks">
                                                                <div style="text-align:center">
                                                                    <a id="up_15238246" href="vote?id=15238246&amp;how=up&amp;auth=4eb97bf0d2568aa743691210b904f0c5182bb0fc&amp;goto=item%3Fid%3D15237896#15238246">
                                                                        <div class="votearrow" title="upvote"></div>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td class="default">
                                                                <div style="margin-top:2px;margin-bottom:-10px"><span class="comhead"><a class="hnuser" href="/user?id=mstade">asmertgen</a><span class="age"> <a href="/item?id=30627864">6 minutes ago</a></span> <span id="unv_15238246"></span><span class="par"></span> <a class="togg" id="24">[-]</a><span class="storyon"></span></span></div>
                                                                <br/>
                                                                <div class="comment">
                                                                    <span class="c00">
                                                                        <span>Great to hear you are excited about this!</span>
                                                                        <div class="reply">
                                                                            <p style="font-size:1"><u><a href="/reply?id=30627864&amp;goto=item%3Fid%3D30627864">reply</a></u></p>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="athing comtr " id="15238246">
                                            <td>
                                                <table style="border:0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="ind"><img alt="" src="/static/s.gif" height="1" width="0"/></td>
                                                            <td style="vertical-align:top" class="votelinks">
                                                                <div style="text-align:center">
                                                                    <a id="up_15238246" href="vote?id=15238246&amp;how=up&amp;auth=4eb97bf0d2568aa743691210b904f0c5182bb0fc&amp;goto=item%3Fid%3D15237896#15238246">
                                                                        <div class="votearrow" title="upvote"></div>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td class="default">
                                                                <div style="margin-top:2px;margin-bottom:-10px"><span class="comhead"><a class="hnuser" href="/user?id=mstade">toomuchtodo</a><span class="age"> <a href="/item?id=30627791">13 minutes ago</a></span> <span id="unv_15238246"></span><span class="par"></span> <a class="togg" id="24">[-]</a><span class="storyon"></span></span></div>
                                                                <br/>
                                                                <div class="comment">
                                                                    <span class="c00">
                                                                        <span>Awesome to see a pivot to climate tech by folks deeply skilled and driven in the space. Thank you for your efforts!</span>
                                                                        <div class="reply">
                                                                            <p style="font-size:1"><u><a href="/reply?id=30627791&amp;goto=item%3Fid%3D30627791">reply</a></u></p>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="athing comtr " id="15238246">
                                            <td>
                                                <table style="border:0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="ind"><img alt="" src="/static/s.gif" height="1" width="0"/></td>
                                                            <td style="vertical-align:top" class="votelinks">
                                                                <div style="text-align:center">
                                                                    <a id="up_15238246" href="vote?id=15238246&amp;how=up&amp;auth=4eb97bf0d2568aa743691210b904f0c5182bb0fc&amp;goto=item%3Fid%3D15237896#15238246">
                                                                        <div class="votearrow" title="upvote"></div>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td class="default">
                                                                <div style="margin-top:2px;margin-bottom:-10px"><span class="comhead"><a class="hnuser" href="/user?id=mstade">desireco42</a><span class="age"> <a href="/item?id=30627847">8 minutes ago</a></span> <span id="unv_15238246"></span><span class="par"></span> <a class="togg" id="24">[-]</a><span class="storyon"></span></span></div>
                                                                <br/>
                                                                <div class="comment">
                                                                    <span class="c00">
                                                                        <span>
                                                                            Hey, excuse my ignorance. How difficult is to procure food you use to grow cells? You mentioned insulin and such.
                                                                            <p>Can you comment on how &quot;green&quot; are those materials?</p>
                                                                        </span>
                                                                        <div class="reply">
                                                                            <p style="font-size:1"><u><a href="/reply?id=30627847&amp;goto=item%3Fid%3D30627847">reply</a></u></p>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="athing comtr " id="15238246">
                                            <td>
                                                <table style="border:0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="ind"><img alt="" src="/static/s.gif" height="1" width="0"/></td>
                                                            <td style="vertical-align:top" class="votelinks">
                                                                <div style="text-align:center">
                                                                    <a id="up_15238246" href="vote?id=15238246&amp;how=up&amp;auth=4eb97bf0d2568aa743691210b904f0c5182bb0fc&amp;goto=item%3Fid%3D15237896#15238246">
                                                                        <div class="votearrow" title="upvote"></div>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td class="default">
                                                                <div style="margin-top:2px;margin-bottom:-10px"><span class="comhead"><a class="hnuser" href="/user?id=mstade">blondie9x</a><span class="age"> <a href="/item?id=30627762">15 minutes ago</a></span> <span id="unv_15238246"></span><span class="par"></span> <a class="togg" id="24">[-]</a><span class="storyon"></span></span></div>
                                                                <br/>
                                                                <div class="comment">
                                                                    <span class="c00">
                                                                        <span>@asmertgen thoughts on this research <a href="https://thecounter.org/lab-grown-cultivated-meat-cost-at-scale/" rel="nofollow">https://thecounter.org/lab-grown-cultivated-meat-cost-at-sca...</a> ?</span>
                                                                        <div class="reply">
                                                                            <p style="font-size:1"><u><a href="/reply?id=30627762&amp;goto=item%3Fid%3D30627762">reply</a></u></p>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/><br/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px">
                                <img alt="" src="/static/s.gif" height="10" width="0"/>
                                <table style="height:2px;width:100%;border-spacing:0px">
                                    <tbody>
                                        <tr>
                                            <td style="background-color:#ff6600"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/>
                                <div style="text-align:center">
                                    <span class="yclinks">
                                        <a href="/newsguidelines">Guidelines</a> |<!-- --> <a href="/newsfaq">FAQ</a> | <a href="/cdn-cgi/l/email-protection#355d5b754c565a58575c5b54415a471b565a58">Support</a> | <a href="https://github.com/HackerNews/API">API</a> |<!-- --> <a href="/security">Security</a> |<!-- --> <a href="/lists">Lists</a> |<!-- --> <a href="/bookmarklet">Bookmarklet</a> |<!-- --> <a href="/dmca">DMCA</a> | <a href="https://www.ycombinator.com/apply/">Apply to YC</a> | <a href="/cdn-cgi/l/email-protection#365e58764f55595b545f58574259441855595b">Contact</a>
                                    </span>
                                    <br/><br/>
                                    <form method="get" action="//hn.algolia.com/" style="margin-bottom:1em">Search:<input type="text" name="q" size="17" autoCorrect="off" spellcheck="false" autoCapitalize="off" autoComplete="false"/></form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>