<!DOCTYPE html>
<html>
    <head>
        <meta charSet="utf-8"/>
        <title>Hacker News Clone</title>
        <meta name="referrer" content="origin"/>
        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <link rel="stylesheet" type="text/css" href="/static/news.css"/>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <meta name="next-head-count" content="6"/>
        <noscript data-n-css=""></noscript>
        <link rel="preload" href="/_next/static/chunks/webpack-189c53927ffd3caf09c3.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/framework-2b26c82ac60f730f49ab.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/main-cdc763525a8ea4696302.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/pages/_app-eb86fd1795b1d829ee05.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/996-bb53b920ae8c58be156e.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/656-f3a4941483e88b110b40.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/549-a20184d703fe77274d05.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/164-d196fbd1b524b1ae8313.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/258-574c4ff0bc6058badaab.js" as="script"/>
        <link rel="preload" href="/_next/static/chunks/pages/submit-6d436bbe691976d9aa89.js" as="script"/>
    </head>
    <body>
        <div id="__next">
            <div>
                <table id="hnmain" style="background-color:#f6f6ef;border:0px;border-collapse:collapse;border-spacing:0px;margin-left:auto;margin-right:auto;padding:0px;width:85%">
                    <tbody>
                        <tr>
                            <td style="background-color:#ff6600;padding:0px">
                                <table style="border:0px;padding:2px;border-spacing:0px;width:100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:18px;padding:0px;padding-right:4px"><a href="/"><img src="/static/y18.gif" style="border:1px;border-color:white;border-style:solid;height:18px;width:18px"/></a></td>
                                            <td style="line-height:12px;height:10px;padding:0px"><span class="pagetop"><b>Submit</b></span></td>
                                            <td style="text-align:right;padding:0px;padding-right:4px"><span class="pagetop"><a href="/user?id=sevbo">sevbo</a> (1) | <a href="/logout?auth=d78ccc2c6120ffe08f32451519c2ff46d34c51ab&amp;amp;goto=/submit">logout</a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:10px"></tr>
                        <tr>
                            <td>
                                <form>
                                    <input type="hidden" name="fnid" value="GvyHFpy11L26dCAIgGQ9rv"/><input type="hidden" name="fnop" value="submit-page"/>
                                    <table style="border:0">
                                        <tbody>
                                            <tr>
                                                <td>title</td>
                                                <td><input type="text" name="title" size="50" value=""/><span style="margin-left:10px"></span></td>
                                            </tr>
                                            <tr>
                                                <td>url</td>
                                                <td><input type="text" name="url" size="50" value=""/></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><b>or</b></td>
                                            </tr>
                                            <tr>
                                                <td>text</td>
                                                <td><textarea name="text" rows="4" cols="49"></textarea></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><input type="submit" value="submit"/></td>
                                            </tr>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.<br/><br/>You can also submit via<!-- --> <a rel="nofollow" href="/bookmarklet"><u>bookmarklet</u></a>.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>