<!DOCTYPE html>
<html>
    <head>
        <meta charSet="utf-8"/>
        <title>Hacker News Clone</title>
        <meta name="referrer" content="origin"/>
        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <link rel="stylesheet" type="text/css" href="/static/news.css"/>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <meta name="next-head-count" content="6"/>
    <body>
        <div id="__next">
            <div>
                <table id="hnmain" style="background-color:#f6f6ef;border:0px;border-collapse:collapse;border-spacing:0px;margin-left:auto;margin-right:auto;padding:0px;width:85%">
                    <tbody>
                        <tr>
                            <td style="background-color:#ff6600;padding:0px">
                                <table style="border:0px;padding:2px;border-spacing:0px;width:100%">
                                    <tbody>
                                        <tr>
                                            <td style="width:18px;padding:0px;padding-right:4px"><a href="/"><img src="/static/y18.gif" style="border:1px;border-color:white;border-style:solid;height:18px;width:18px"/></a></td>
                                            <td style="line-height:12px;height:10px;padding:0px"><span class="pagetop"><b class="hnname"><a href="/news">Hacker News</a></b> <a class="" href="/newest">new</a> | <a class="" href="/newcomments">comments</a> | <a class="" href="/show">show</a> | <a class="" href="/ask">ask</a> | <a class="" href="/jobs">jobs</a> | <a class="" href="/submit">submit</a></span></td>
                                            <td style="text-align:right;padding:0px;padding-right:4px"><span class="pagetop"><a href="/login?goto=/user">login</a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:10px"></tr>
                        <tr>
                            <td>
                                <table style="border:0">
                                    <tbody>
                                        <tr class="athing">
                                            <td style="vertical-align:top">user:</td>
                                            <td><a href="user?id=synergy20" class="hnuser">synergy20</a></td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top">created:</td>
                                            <td>a year ago</td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top">karma:</td>
                                            <td>1115</td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top">about:</td>
                                            <td>embedded linux product architect and entrepreneur. I code in c/c++/go/python/js/ts/vue and work with debian/ubuntu/openwrt/vim daily.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a href="submitted?id=synergy20"><u>submissions</u></a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a href="threads?id=synergy20"><u>comments</u></a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a href="favorites?id=synergy20"><u>favorites</u></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br/><br/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>